*.class
*.log
*.txt~
*.txt#
Project/~$536-CP2-S23.docx
CS536-Syllabus-S23.pdf
PLClassExamples/.bsp
PLClassExamples/.idea
PLClassExamples/target
PLClassExamples/project


Assignments/~$536-A1-F23.docx
Assignments/~WRL2823.tmp
